:root{
  --font-style: Arial;
}


body {
  font-family: var(--font-style);
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

h1 {
  margin-top: 20px;
  color: #f9f7f7;
}

.selections {
  margin-top: 100px;
}

.selection {
  font-size: 3em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.selection:hover {
  background-color: #000000;
  transform: scale(2.05);
}

h3 {
  margin-top: 20px;
  color: #fffefe;
}
.resetbtn {
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100px;
  padding: 10px 20px;
}
.resetbtn:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}
@media (max-width:430px ){
  body{
    width: fit-content;
  }
}
.result{
  padding-top: 2rem;
}